@page "/categories"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@using MyLibrary1.Helpers

@if (role == "admin"  || role == "user"){
<h4>Find Category by Id</h4>
   <div class="input group mb-3">
    <select class="form-select" @bind="searchCategoryId" >
        <option value="">Select Category</option>
        @if (categories != null)
        {
            @foreach(var category in categories)
            {
                <option value="@category.CategoryId">@category.CategoryId - @category.CategoryName</option>
            }
        }
        </select>
        <button class="btn btn-info" @onclick="GetCategoryById">Search</button>
</div>
@if (!string.IsNullOrEmpty(getMessage))
{
    <div class="alert alert-info">@getMessage</div>
}

@if (foundCategory != null)
{
    <div class="alert alert-secondary">
        <p><strong>Id:</strong>@foundCategory.CategoryId</p>
        <p><strong>Name:</strong>@foundCategory.CategoryName</p>
    </div>
}
}
@if(role == "admin"){
<h4>Add New Category</h4>

<div class=" input group mb-3">
    <input type="text" class="form-control" placeholder="New Category Name" @bind="newCategoryName"/>
</div>
<button class="btn btn-success" @onclick="AddCategory">Add</button>

@if (!string.IsNullOrEmpty(addMessage))
{
    <div class="alert alert-info mt-2">@addMessage</div>
}

<h4>Update Category</h4>

<div class="input group mb-3">
    <select class="form-select" @bind="updateCategoryId">
        <option value="">Select Category</option>
        @if (categories != null)
        {
            @foreach (var category in categories)
            {
                <option value="@category.CategoryId">@category.CategoryId - @category.CategoryName</option>
            }
        }
    </select>
</div>
<div class="input group mb-3">
    <input type="text" class="form-control" placeholder="Enter Category Name" @bind="updateCategoryName"/>
</div>
<button class="btn btn-warning" @onclick="UpdateCategory">Update</button>

@if(!string.IsNullOrEmpty(updateMessage))
{
    <div class="alert alert-info mt-2">@updateMessage</div>
}

<h4>Delete Category</h4>

<div class=" input group mb-3">
    <select class="form-select" @bind="deleteCategoryId">
        <option value="">Select Category</option>
        @if (categories != null)
        {
            @foreach (var category in categories)
            {
                <option value="@category.CategoryId">@category.CategoryId - @category.CategoryName</option>
            }
        }
    </select>
</div>
<button class=" btn btn-danger" @onclick="DeleteCategory">Delete</button>
@if (!string.IsNullOrEmpty(deleteMessage))
{
    <div class="alert alert-warning">@deleteMessage</div>
}
}@if (role == "admin"  || role == "user"){
<h3>Categories</h3>

<button class="btn btn-primary" @onclick="ToggleCategories">@(showCategories ? "Hide" : "Get")</button>
@if (showCategories)
{
@if (categories == null)
{
    <p><em>Press the button</em></p>
}
else if(categories.Count == 0){
    <p>No categories found.</p>
}
else
{
    <ul>
        @foreach(var category in categories)
        {
            <li>@category.CategoryId-@category.CategoryName</li>
        }
    </ul>
}
}
}
@code {
    private string role;
    private string username;
    private bool isAuthenticated;
    protected override async Task OnInitializedAsync()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        if (string.IsNullOrWhiteSpace(token))
        {
            Navigation.NavigateTo("/login");
            return;
        }
        await GetCategories();
        showCategories = true;
        if (!string.IsNullOrEmpty(token))
        {
            isAuthenticated = true;
            role = TokenHelper.GetRoleFromToken(token);
            username = TokenHelper.GetUsernameFromToken(token);
        }
    }
    private List<CategoryDto> categories;
    private bool showCategories = false;

    private async Task ToggleCategories()
    {
        if (!showCategories)
        {
            await GetCategories();
            showCategories = true;
        }
        else
        {
            showCategories = false;
        }
    }

    private async Task GetCategories()
    {
        try
        {
            var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

            if (string.IsNullOrWhiteSpace(token))
            {
                Navigation.NavigateTo("/login");
                return;
            }
            var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7161/api/categories/common");
            request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

            var response = await Http.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                categories = await response.Content.ReadFromJsonAsync<List<CategoryDto>>();
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                Navigation.NavigateTo("/login");
            }
        }catch(Exception ex)
        {
            Console.WriteLine("Error loading categories:" + ex.Message);
        }
    }

    private string newCategoryName;
    private int? searchCategoryId;
    private string addMessage;

    private async Task AddCategory()
    {
        if (string.IsNullOrWhiteSpace(newCategoryName))
        {
            addMessage = "Failed.";           
            return;
        }
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        var newCategory = new CategoryDto
            {         
                CategoryName = newCategoryName,
            };

        var request = new HttpRequestMessage(HttpMethod.Post, "https://localhost:7161/api/categories/admin-only");
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        request.Content = JsonContent.Create(newCategory);

       try{
        var response = await Http.SendAsync(request);

        if(response.IsSuccessStatusCode)
        {
            addMessage = "Successfully added.";
            newCategoryName = "";
            await GetCategories();
        }
        else
        {
            newCategoryName = null;
            Console.WriteLine("Category couldnot add.");
        }
        }
        catch (Exception ex)
        {
            addMessage = "Failed.";
            Console.WriteLine("Exception:" + ex.Message);
        }
    }

    private CategoryDto? foundCategory;
    private string getMessage;

    private async Task GetCategoryById()
    {
        getMessage = "";
        foundCategory = null;
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        if(string.IsNullOrWhiteSpace(token))
        {
            Navigation.NavigateTo("/login");
            return;
        }
        var request = new HttpRequestMessage(HttpMethod.Get, $"https://localhost:7161/api/categories/common/{searchCategoryId}");
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

        try
        {

            var response = await Http.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                foundCategory = await response.Content.ReadFromJsonAsync<CategoryDto>();
                getMessage = "Category found successfully.";
                await GetCategories();
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                getMessage = "Category not found.";
                foundCategory = null;
                Console.WriteLine("Category not found.");
            }
            else
            {
                getMessage = "Error occured while fetching the category";
                foundCategory = null;
            }
        }
        catch(Exception ex)
        {
            getMessage = "Failed.";
            Console.WriteLine("Exception:" + ex.Message);
        }
    }
    private int? updateCategoryId;
    private string updateCategoryName;
    private string updateMessage;

    private async Task UpdateCategory()
    {
        if (updateCategoryId == null || updateCategoryName == null)
        {
            updateMessage = "Failed.";
            StateHasChanged();
            return;
        }
        updateMessage = "";

        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        if (string.IsNullOrWhiteSpace(token))
        {
            Navigation.NavigateTo("/login");
            return;
        }
        var updateDto = new CategoryDto
        {
            CategoryName = updateCategoryName,
            CategoryId = updateCategoryId.Value,
        };
        var request = new HttpRequestMessage(HttpMethod.Put, $"https://localhost:7161/api/categories/admin-only/{updateCategoryId}");
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        request.Content = JsonContent.Create(updateDto);

       try{
        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            updateMessage = "Category updated successfully.";
            await GetCategories();
        }
        else
        {
            updateMessage = "Update failed.";
        }
        }
        catch (Exception ex)
        {
            updateMessage = "Failed.";
            Console.WriteLine("Exception:" + ex.Message);
        }
    }

    private int? deleteCategoryId;
    private string deleteMessage;

    private async Task DeleteCategory()
    {
        deleteMessage="";

        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        if(string.IsNullOrWhiteSpace(token))
        {
            Navigation.NavigateTo("/login");
            return;
        }
        var request = new HttpRequestMessage(HttpMethod.Delete, $"https://localhost:7161/api/categories/admin-only/{deleteCategoryId}");
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            deleteMessage = "Category deleted successfully.";
            await GetCategories();
        }
        else if(response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            deleteMessage = "Category not found.";
        }
        else
        {
            deleteMessage = "Delete failed.";
        }
    }

    public class CategoryDto
    {
        public string CategoryName { get; set; }
        public int CategoryId { get; set; }
    }
}
